{% extends 'base.html.twig' %}



{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>pizza-commerce</h1>
                <p>Bienvenue chez allo-pizza</p>
            </div>



        </section>
    </main>


{% endblock %}
